.detalles{
   
    display: flex;
    justify-content: center;
    padding-top: 15rem;
}
.detalle-grid{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 3rem;
}
.detalles .img-fluid{
    max-width: 380px;
    width: 100%;
    margin: 5rem auto;
    box-shadow: 10px 5px 10px 3px #555;
}
.detalles-content{
    padding: 2rem;
}
.detalles-content h3{
    font-weight: 600;
    text-transform: uppercase;
}
.detalles-content .price{
    font-family: 'Lato', sans-serif;
    color: var(--azul);
    font-size: 2rem;
    font-weight: 600;
}
.detalles-content, .description{
    padding-top: 2rem;
    color: #161818;
}
.detalles-content, .description span{
    line-height: 2.8rem;
} 

@media only screen and (max-width: 840px){
    .detalle-grid{
        grid-template-columns: 1fr;
        height: 50%;
    }
}
.formcontato{
    background-color: #fff;
     color: rgb(6, 131, 240);
     
 }
 .formcontato h2{
     font-size: 38px;
     text-align: center;
     font-family: "Roboto";
     padding: 20px 0;
     color: #555;
 }
 .formcontato h2:hover{
     color: #05bae7;
 }
 
 .formulario{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .formulario-area{
     width: 400px;
     height: 500px;
     text-align: center;
     margin-bottom: 1.5em;
     background: #f4f5f5;
     border: 5px  currentColor rgb(194, 29, 29);
     border-radius: 20px;
     color: rgb(19, 20, 20);
 } 
 .formulario-text{
     padding: 10px;
     font-size: 26px;
 }
 
 .formulario__label {
     display: block;
     padding: 10px 0;
 }
 
 .formulario__grupo-input {
     position: relative;
     
 }
 .formulario__input {
     width: 70%;
     background: transparent;
     border-bottom: 2px solid aqua;
     border-right: none;
     color: #0c0707;
     font-size: 16px;
     outline: none;
     line-height: 45px;
     padding: 0 10px;
     transition: all 1s;
 }
 
 .formulario__validacion-estado {
     position: absolute;
     right: 65px;
     bottom: 15px;
     z-index: 1000;
     font-size: 16px;
     opacity: 0;
 }
 
 .formulario__input:focus {
     box-shadow: 0 0 5px aqua;
 }
 
 .formulario__input-error {
     font-size: 12px;
     margin-bottom: 0;
     display: none;
 }
 
 .formulario__input-error-activo {
     display: block;
 }
 
 .formulario__span {
     font-size: 1em;
     font-weight: 100;
 }
 
 
 .formulario__grupo-terminos {
     text-align: center;
 }
 
 .formulario__grupo-terminos, .formulario__mensaje, .formulario__grupo-btn-enviar {
     grid-column: span 1;
 }
 
 .formulario__mensaje {
     display: none;
     height: 5px; 
     line-height: 5px; 
     padding: 10px;
     border-radius: 5px;
     background: rgb(255, 39, 11);
     text-align: center;
     font-size: 10px;
     margin-bottom: 1.25em;
 }
 
 .formulario__mensaje-activo {
     display: block;
 }
 
 .formulario__grupo-btn-enviar {
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .formulario__btn {
     padding: 15px 35px;
     background: aqua;
     color: #fff;
     border: none;
     border-radius: 3px;
     cursor: pointer;
 }
 
 .formulario__btn:hover {
     background: rgb(4, 91, 204);
     transition: 1s;
 }
 
 .formulario__mensaje-exito {
     font-size: 2em;
     color: aqua;
     padding: 10px;
     text-align: center;
     display: none;
 }
 
 .formulario__mensaje-exito-activo { 
     display: block;
 }
 
 .formulario__grupo-correcto .formulario__validacion-estado{
     color: aqua;
     opacity: 1;
 }
 
 .formulario__grupo-incorrecto .formulario__label{
     color: #ee300f;
 }
 .formulario__grupo-incorrecto .formulario__validacion-estado{
     color: #f11717;
     opacity: 1;
 }
 
 .formulario__grupo-incorrecto .formulario__input{
     border: 1px solid #ee1e0f;   
 }
 footer{
     background-color: #555;
     padding: 10px 0 10px 0;
     text-align: center;
     position: relative;
     width: 100%;
 }
 footer h3, p {
     font-size: 2rem;
    color: #e7e7e7;
 }
 
 footer .redes a{
     color: #e7e7e7;
     display: inline-block;
     text-decoration: none;
     border: 1px solid #fff;
     border-radius: 100%;
     width: 42px;
     height: 42px;
     line-height: 45px;
     margin: 10px 5px;
     font-size: 30px;
     transition: .3s;
 }
 